#updateButton {
  margin: 0 10px 0 0;
}

.col{
  margin-bottom: 15px;
  display:inline-block;
}

.ingredientContainer {
  text-decoration-color: white;
  background-color: gray;
  color: white;
  font-weight: 500;
  border-radius: 10px;
  padding: 10px 10px;
  margin: 0 0 10px 0;
}

.css-tzssek-MuiSvgIcon-root {
  transition: 4s ease-in-out;

  :hover{
    cursor: pointer;
    color: rgb(255, 71, 71);
  }
}

#imageContainer{
  display: flex;
  margin: 10% 0 0 0;
  max-width: 100%;
}

#recipeContain{
  background-color: rgb(231, 229, 225);
}

#ratingFont{
  font-size:medium;
}